.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $secondary-bg-color;
	border-top: 3px solid $primary-main-color;
	padding: 20px;

	.footer__message {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		p {
			color: $primary-text-color;
		}
		svg {
			color: $third-main-color;
			margin: 0 10px;
		}
	}
}

@media (max-width: 440px) {
	.footer {
		position: relative;
		padding: 20px 0;
		.footer__message {
			p {
				text-align: center;
				color: $primary-text-color;
				margin: 5px 0;
			}
			svg {
				color: $third-main-color;
			}
		}
	}
}
