.cart {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 40px;
	justify-content: flex-start;
	padding: 50px 30px 30px 10px;
	width: 1170px;
	margin: 0 auto;
	padding-bottom: 200px;

	.cart__summary {
		display: flex;
		justify-content: flex-start;
		margin-top: 30px;

		.summary {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			flex-direction: column;
			margin-right: 30px;
		}

		.total {
			width: 400px;
		}
	}
}

@media (max-width: 1200px) {
	.cart {
		width: 95vw;
	}
}

@media (max-width: 812px) {
	.cart {
		width: 95vw;
		padding: 30px 0 50px;

		.cart__summary {
			margin-top: 50px;
			flex-direction: column;

			.total {
				margin: 0 auto;
				max-width: 400px;
				width: 100%;
			}

			.summary {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
	}
}
