.cart {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 40px;
	justify-content: flex-start;
	padding: 50px 30px 30px 10px;
	gap: 10px;
	width: 1150px;
	margin: 0 auto;
	padding-bottom: 200px;

	.cart__summary {
		display: grid;
		grid-template-columns: 1fr 300px;
		justify-content: flex-start;
		gap: 30px;
		margin-top: 20px;

		.summary {
			display: flex;
			justify-content: flex-start;
			gap: 20px;
			width: 100%;
			flex-direction: column;
		}
	}
}

@media (max-width: 1200px) {
	.cart {
		width: 95vw;
	}
}

@media (max-width: 812px) {
	.cart {
		width: 95vw;
		gap: 30px;
		padding: 30px 0 200px;
		.cart__summary {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 220px;
		}
	}
}
